<p>stats works!</p>
<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <p>
                <label>Open</label>
                <output> {{ data.open }} </output>
            </p>
            <p>
                <label>High</label>
                <output> {{ data. high }}</output>
            </p>
        </div>
        <div class="col-sm-6">
            <p>
                <label>Market Cap</label>
                <output> {{ data.mkCap }} </output>
            </p>
            <p>
                <label>52W high</label>
                <output> {{ data.w52 }} </output>
            </p>
        </div>
    </div>
</div>
<button class="btn btn-danger">CLick</button>
